<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Experiences</title>
    <link rel="stylesheet" href="../static/css/experiences.css" />
  </head>

  <body>
    <div class="containerExperience card">
      <div class="face front">
        <img
          src="https://images.pexels.com/photos/2373201/pexels-photo-2373201.jpeg?auto=compress&cs=tinysrgb&w=600"
          width="400px"
          height="286px"
        />
        <h4>
          Spa, relajacion y planes en pareja <br />
          spa, relaxing and couple plans
        </h4>
      </div>
      <div class="face back">
        <h4>
          Spa, relajacion y planes en pareja <br />
          spa, relaxing and couple plans
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          suscipit cumque sequi ipsum mollitia assumenda blanditiis, reiciendis
          doloremque pariatur id ipsam commodi numquam perspiciatis consequuntur
          possimus maxime saepe. Vero alias ratione quisquam libero quos.
        </p>
        <div class="link">
          <a href="#"> Details </a>
        </div>
      </div>
    </div>
    <div class="containerExperience card">
      <div class="containerCouples face front">
        <img
          src="https://images.pexels.com/photos/169197/pexels-photo-169197.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          width="400px"
          height="286px"
        />
        <h4>
          Bodas y eventos <br />
          weddings and events
        </h4>
      </div>
      <div class="face back">
        <h4>
          Bodas y eventos <br />
          weddings and events
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          suscipit cumque sequi ipsum mollitia assumenda blanditiis, reiciendis
          doloremque pariatur id ipsam commodi numquam perspiciatis consequuntur
          possimus maxime saepe. Vero alias ratione quisquam libero quos.
        </p>
        <div class="link">
          <a href="#"> Details </a>
        </div>
      </div>
    </div>
    <div class="containerExperience card">
      <div class="face front">
        <img
          src="https://images.pexels.com/photos/260922/pexels-photo-260922.jpeg?auto=compress&cs=tinysrgb&w=600"
          width="400px"
          height="286px"
        />
        <h4>
          restaurantes y bares de lujo <br />
          Restaurants and luxuri bars
        </h4>
      </div>
      <div class="face back">
        <h4>
          restaurantes y bares de lujo <br />
          Restaurants and luxuri bars
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          suscipit cumque sequi ipsum mollitia assumenda blanditiis, reiciendis
          doloremque pariatur id ipsam commodi numquam perspiciatis consequuntur
          possimus maxime saepe. Vero alias ratione quisquam libero quos.
        </p>
        <div class="link">
          <a href="#"> Details </a>
        </div>
      </div>
    </div>
    <div class="containerExperience card">
      <div class="containerEvents face front">
        <img
          src="https://media.istockphoto.com/photos/man-speaking-at-a-business-conference-picture-id499517325?b=1&k=20&m=499517325&s=612x612&w=0&h=odO8tvEg9PAxaJqHDY-CbOq_j4YQ5qKthixyGZK3h5k="
          width="400px"
          height="286px"
        />
        <h4>
          Eventos corporativos <br />
          corporative events
        </h4>
      </div>
      <div class="face back">
        <h4>
          Eventos corporativos <br />
          corporative events
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          suscipit cumque sequi ipsum mollitia assumenda blanditiis, reiciendis
          doloremque pariatur id ipsam commodi numquam perspiciatis consequuntur
          possimus maxime saepe. Vero alias ratione quisquam libero quos.
        </p>
        <div class="link">
          <a href="#"> Details </a>
        </div>
      </div>
    </div>
    <div class="containerExperience card">
      <div class="containerActivities face front">
        <img
          src="https://images.pexels.com/photos/1645028/pexels-photo-1645028.jpeg?auto=compress&cs=tinysrgb&w=600"
          width="400px"
          height="286px"
        />
        <h4>
          Actividades en el mar y en familia <br />
          activitie on the sea and family plans
        </h4>
      </div>
      <div class="face back">
        <h4>
          Actividades en el mar y en familia <br />
          activitie on the sea and family plans
        </h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente,
          suscipit cumque sequi ipsum mollitia assumenda blanditiis, reiciendis
          doloremque pariatur id ipsam commodi numquam perspiciatis consequuntur
          possimus maxime saepe. Vero alias ratione quisquam libero quos.
        </p>
        <div class="link">
          <a href="#"> Details </a>
        </div>
      </div>
    </div>
  </body>
</html>
