<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/css/estilos2.css">
</head>
<body>
    <header>
        <div class="titulo">
            <p>
                
            </p>
            <img
                  src="../static/images/img2.png"
                  alt=""
                  width="200"
                  height="100"
                />
        </div>
        <div class="lista">
            <ul>
                <li><a href="#">Alojamiento</a></li>
            </ul>
            <ul>
                <li><a href="../templates/experiences.html">Experiencias</a></li>
            </ul>
            <ul>
                <li><a href="#">Servicios</a></li>
            </ul>
            <ul>
                <li><a href="#">Ofertas</a></li>
            </ul>
            <ul>
                <li><a href="../templates/contact.html">Contacto</a></li>
            </ul>
        </div>
        <div class="reservar">
            <button><a href="#">Reserva Ya</a></button>
        </div>
    </header>
    <section>
        <article class="articulo1">
            <div class="imagenes">
                <img
                  src="../static/images/img1.jpg"
                  alt=""
                  width=""
                  height="525"
                />
            </div>    
            <div class="contenido">
                    <div class="texto">
                        <h4>• Una experiencia inolvidable •</h4>
                        <p>----Entre las maravillas de kuala lumpur----</p>
                    </div>
                    <div class="boton">
                        <button><a href="#">Reserva Ahora</a></button>
                    </div>
                    <div class="iconos">
                        <ul>
                            <li class="face"><a href="#">Facebook</a></li>
                            <li class="insta"><a href="#">Instagram</a></li>
                            <li class="twitter"><a href="#">Twitter</a></li>
                        </ul>
                    </div>
            </div>
        </article>
        <article class="articulo2">
            <div class="texto2">
                <div class="bienvenida">
                    <h3>Bienvenido a Four Seasons Place</h3>
                </div>
                <div class="descripcion">
                    <p>"¡Relájese, reconecte y disfrute de la excelencia en el encantador y fascinante paraíso del sudeste asiatico! ¡Descubra lo maravilloso de kuala Lumpur!, donde Four Seasons Place Kuala Lumpur fue exquisitamente diseñado para integrarse a la perfección en este singular lugar en el mundo."</p>
                </div>
            </div>
            <div class="imagenes2">
                <div><img
                    src="../static/images/img3.jpg"
                    alt=""
                    width="400"
                    height="300"
                  /></div>
            </div>
            <div class="imagenes2">
                <div><img
                    src="../static/images/img4.jpg"
                    alt=""
                    width="400"
                    height="300"
                  /></div>
            </div>
            <div class="imagenes2">
                <div><img
                    src="../static/images/img5.jpg"
                    alt=""
                    width="400"
                    height="300"
                  /></div>
            </div>
        </article>
    </section>
    <footer>
        <div class="lista-footer">
            <ul>
              <li><a href="#"></a>Home</li>
              <li><a href="#"></a>Privacy Policy</li>
              <li><a href="#"></a>Legal Disclaimer</li>
              <li><a href="#"></a>Dmca</li>
              <li><a href="#"></a>About Us</li>
              <li><a href="#"></a>Contact Us</li>
            </ul>
          </div>
          <div class="texto-footer">
            <p>
              he use of the images and other promotional materials are allowed under
              the fair use clause of the Copyright Law and copyrights and trademarks
              are held by their respective owners © 2022 Four Seasons.com
            </p>
          </div>
    </footer>
</body>
</html>